.createBid {
  text-align: center;
  height: 100%;
  background-color: #1f1e1e;
}

.createBid h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.createBid select {
  border-radius: 4px;
  width: 100%;
  font-size: 17px;
  height: 45px;
}

.createBid select option {
  border: 1px solid red;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 10px 0 10px 0;
  padding: 12px 20px;
  width: 100%;
  font-size: 17px;
}

.createBid input[type="text"],
select {
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 10px 0 10px 0;
  padding: 12px 20px;
  width: 100%;
  font-size: 17px;
}

.createBid input[type="number"],
select {
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 10px 0 10px 0;
  padding: 12px 20px;
  width: 100%;
  font-size: 17px;
}

.createBid button {
  background-color: inherit;
  border: 2px solid #1682db;
  border-radius: 4px;
  padding: 14px 20px;
  margin: 10px 0 10px 0;
  width: auto;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

.createBid button:hover {
  border: 3px solid #1682db;
  font-weight: bold;
}
