.userSingleCard {
  border: none white solid;

  border-radius: 10px;
  height: 120px;
  color: white;
  background-color: #292929;
  margin: 5px 0 5px 0;
  padding: 0px 0 10px 10px;

  display: flex;
  flex-direction: row;
  width: "100%";
}

.userSingleCard .userDetails {
  width: 80%;
  /* border: 1px solid red; */
}

.userSingleCard button {
  background-color: #1682db;
  /* background-color: #1b03a3; */
  padding: 10px;
  margin: 30px 0 0 0;
  border: none;
  border-radius: 4px;
  width: 100%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: white;
}
