.navbar {
  background-color: #1f1e1e;
  height: 50px;
  overflow: hidden;
  /* position: fixed;
  top: 0;
  width: 100%; */
}

.navbar a {
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  width: auto;
}

.navbar a:hover {
  background-color: #111;
}

.search {
  display: flex;
  flex-direction: row;
  float: right;
  text-align: center;
  overflow: hidden;
}

.search input[type="text"],
select {
  float: right;
  padding: 12px;
  margin: 4px 0 8px 0;
  margin-right: 16px;
  font-size: 17px;
  width: 100%;
}

.search a {
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  float: right;
  letter-spacing: 1px;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  width: auto;
}

@media screen and (max-width: 600px) {
  .search {
    float: none;
  }
  .topnav a,
  .topnav input[type="text"],
  .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}
