body {
  height: 100%;
  width: 100%;
}

.ourPartners {
  height: inherit;
  width: inherit;
  overflow: auto;
  overflow: scroll; /* to  be cleaned*/
}

.ourPartners .container {
  display: flex;
  position: fixed;
}

.ourPartners .container .sidenav {
  height: 100%;
  /* width: 290px; */
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 1;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav button {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  margin: 5px 0 5px 0;

  background-color: inherit;
  border: none;
  text-align: left;
  width: 100%;
}

.sidenav button:hover {
  color: #f1f1f1;
  border: none;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.ourPartners .container .results {
  /* margin-left: 295px; Same as the width of the sidenav */
  margin-left: 20.5%;
  padding: 10px 30px 10px 10px;
  background-color: #1f1e1e;
  max-width: 79.5%;
  height: 100%;
  position: relative;
  z-index: 1;
  top: 1;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}
