body {
  height: 100%;
}
.sideNavBar {
  background-color: black;
  border: 1px;
  border-color: white;
  border-style: solid;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 30%;
  margin: 0 10px 0 0;
}

.sideNavBar span {
  background-color: grey;
  width: 100%;
  /* margin: auto; */
  vertical-align: middle;
  height: 100%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  padding: 10px 0 10px 0;
  background-color: #1f1e1e;
  /* display: inline-block; */
  text-align: center;
}

.sideNavBar span:hover {
  background-color: #111;
}
