.resetPassword {
  background-color: #181818;
  padding: 20px;
  width: auto;
}

.resetPassword form {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.resetPassword input[type="password"],
select {
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 10px 0 10px 0;
  padding: 12px 20px;
  width: 100%;
  font-size: 17px;
}

.resetPassword button {
  background-color: #1682db;
  color: white;
  padding: 14px 20px;
  margin: 10px 0 10px 10px;
  border: none;
  border-radius: 4px;
  width: 20%;
  min-width: 20%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

.resetPassword button:hover {
  background-color: #008cff;
}
