.resetPassword {
  background-color: #181818;
}

.resetPassword .header {
  background-color: black;
  display: flex;
  padding: 0 30px 0 30px;
}

.resetPassword .header button {
  float: right;
  margin: auto 0 auto auto;
  background-color: inherit;
  font-size: 25px;
  color: white;
  border: none;
  font-weight: bold;
}

.resetPassword .header button:hover {
  background-color: inherit;
  font-size: 27px;
}

.resetPassword form {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.resetPassword input[type="password"],
select {
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 10px 0 10px 0;
  padding: 12px 20px;
  width: 100%;
  font-size: 17px;
}

.resetPassword button[name="reset"] {
  color: white;
  padding: 14px 20px;
  margin: 10px 0 10px 10px;
  border: 2px solid #1682db;
  border-radius: 4px;
  background-color: inherit;
  width: 20%;
  min-width: 20%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

.resetPassword button[name="reset"]:hover {
  border: 3px solid #1682db;
  font-weight: bold;
}
