.yourProfile {
  border-style: solid;
  border: 1px;
  text-align: center;
}

.yourProfile img {
  width: 100%;
  height: 20%;
}

.yourProfile div {
  text-align: center;
  padding: 5px;
  margin: 0 0 10px 0;
}
.yourProfile h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
}
.yourProfile a {
  background-color: #1682db;
  width: 50%;
  font-size: 17px;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  color: white;
}
